html,
body {
    width: 100%;
    height: 100%;
}

body {
    color: #fcfcfc;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    -ms-overflow-style: none;

    ::-webkit-scrollbar {
        display: none;
    }
}

form {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 0.4em;
    width: auto;
}

button {
    color: #e7e3e3;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;

    &:active {
        cursor: pointer;
        transform: scale(0.9);
    }
}

.container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    animation: fadeIn2 1.8s forwards;
    width: 27rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;


    .contentsWrapper {
        display: flex;
        position: relative;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.2);
        height: auto;
        box-sizing: border-box;
        padding: 2em 2em;
        border-radius: 10px;
        width: 100%;

        .js-weather {
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            position: relative;
            justify-content: space-around;
            height: auto;
            font-size: 1.2rem;
            width: 75%;
            line-height: 1.5rem;
            // border-top: 0.5px solid white;
            // border-right: 1px solid white;
            border-radius: 20px;
            padding: 0.7em;
            padding-top: 0.8em;

            .fas {
                margin-right: 0.3em;
            }

            .temp,
            .place {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .temp .fas {
                font-size: 1.5em;
            }

            .place .fas {
                font-size: 1.2em;
            }

            .place i {
                color: #f5f0b2;
            }
        }

        .clock {
            display: flex;
            justify-content: center;
            margin-top: 0.3rem;
            margin-bottom: 0.5rem;
            padding: 0.3rem 0.5rem;
            border-radius: 20px;
            font-size: 3.2rem;
            color: #e7e3e3;
            text-align: center;
            width: 75%;
            animation: shadowFadeIn 4s linear 0.5s infinite alternate;
            font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
                sans-serif;
            font-weight: thin;

            & > h3 {
                margin: 0 auto;
                padding: 0 auto;
            }
        }

        .userForm {
            margin-top: 2em;
        }

        .userInput,
        .toDoInput {
            font-size: 1em;
            height: 1.8em;
            width: 15em;
            border-radius: 5px;
            outline: none;
            color: #ffe59ed5;
            border: 1px solid #e7e3e3da;
            background: none;
            padding: 0 0.5rem;
            &::placeholder {
                color: rgba(255, 255, 255, 0.678);
            }

            &:hover {
                border: 1px solid #e7e3e3;
            }

            &:focus {
                background: #1f1f1fcb;
            }
        }

        .userBtn, .toDoBtn {
            align-self: stretch;
            border-radius: 5px;
            outline: none;
            border: 1px solid #e7e3e38c;
            margin-left: 0.3rem;
            color: #e7e3e3;
            background: none;
            &:hover {
                cursor: pointer;
                // animation: buttonOn 0.5s forwards ease-in-out;
                border: 1px solid #e7e3e3;
            }

            &:focus {
                background: #1f1f1fcb;
            }

            &:active {
                background: #1f1f1fcb;
            }
        }

        .js-Greeting {
            display: none;
        }
        
        .resetBtn {
            position: absolute;
            bottom: -3rem;
            background-color: rgba(0,0,0,0.1);
            width: 8rem;
            padding: 2% 1%;
            // align-self: ;
            outline: none;
            border-radius: 10px;
            font-size: 1.3rem;
            font-weight: bold;
            color: #adadad;

            &:hover {
                color: white;
                background:rgba(0, 0, 0, 0.61);
                cursor: pointer;
                animation: buttonOn 0.3s forwards ease-in-out;
            }

            &:focus {
                background: #1f1f1fcb;
            }
        }

        .toDoList-Wrapper {
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            margin-top: 1.5em;
            width: 100%;
        
            ul {
                line-height: 1.8em;
                // list-style: inside;
            }
            
            li {
                display: flex;
                justify-content: space-between;
                border-top: 1px solid white;
                margin: 0.2em auto;
                padding-top: 0.3em;
                width: 90%;
                letter-spacing: 0.02em;
                list-style-type: square;
                font-size: 1.1em;
                
        
                &:first-child {
                    border: none;
                }
        
                span{
                    text-align: left;
                }
            }
        
            strong {
                font-size: 1.4rem;
            }
        
            .toDoList {
                box-sizing: border-box;
                width: 95%;
                height: 9em;
                padding: 0;
            }

            .removeBtn {
                outline: none;
                padding: 1%;
                text-align: center;
                width: 1.8rem;
                border-radius: 50px;
                border: 1px solid #ebebeb;
                color: #f55050;
                font-weight: 600;
                background: none;
            
                &:hover {
                    cursor: pointer;
                    animation: removeOn 0.5s forwards ease-in-out;
                }
            
                &:active {
                    color: white;
                    background: rgb(255, 67, 67);
                }
            }
            
        }
    }
        
// 모바일 레이아웃
    @media screen and (min-width: 375px) and (max-width: 769px){
        .contentsWrapper {
            position: relative;
            padding: 3% 0;
            width: 80%;

            .js-weather {
                background: rgba(0, 0, 0, 0.1);
                font-size: 1rem;
                width: 50%;
                line-height: 1.5rem;
                // border-top: 0.5px solid white;
                // border-right: 1px solid white;
                border-radius: 20px;
                padding: 0.7em;
                padding-top: 0.8em;
    
                .fas {
                    margin-right: 0.3em;
                }
    
                .temp,
                .place {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
    
                .temp .fas {
                    font-size: 1.5em;
                }
    
                .place .fas {
                    font-size: 1.2em;
                }
    
                .place i {
                    color: #f5f0b2;
                }
            }
    
            .clock {
                padding: 1%;
                font-size: 2rem;
                width: 53%;
            }
    
            .userForm {
                margin-top: 2em;
            }
    
            .userInput,
            .toDoInput {
                font-size: 1rem;
                width: 12rem;
                border-radius: 5px;
                outline: none;
                color: #ffe59ed5;
                border: 1px solid #e7e3e3da;
                background: none;
                padding: 0 0.5rem;
                &::placeholder {
                    color: rgba(255, 255, 255, 0.678);
                }
    
                &:hover {
                    border: 1px solid #e7e3e3;
                }
    
                &:focus {
                    background: #1f1f1fcb;
                }
            }

            .userBtn, .toDoBtn {
                align-self: stretch;
                border-radius: 5px;
                outline: none;
                margin-left: 0.3rem;
                border: 1px solid #e7e3e3da;
                color: #e7e3e3;
                background: none;
    
                &:active {
                    animation: buttonOn 0.5s forwards ease-in-out;
                    background: #1f1f1fcb;
                }
            }
    
            .js-Greeting {
                display: none;
            }
    
            .toDoList-Wrapper {
                display: flex;
                flex-flow: column nowrap;
                align-items: center;
                justify-content: center;
                margin-top: 1rem;
                width: 100%;
            
                ul {
                    line-height: 1.8em;
                    // list-style: inside;
                }
                
                li {
                    display: flex;
                    justify-content: space-between;
                    border-top: 1px solid rgba(250, 250, 250, 0.247);
                    margin: 0.2em auto;
                    padding-top: 0.3em;
                    width: 90%;
                    letter-spacing: 0.02em;
                    list-style-type: square;
                    font-size: 1.1em;
            
                    &:first-child {
                        border: none;
                    }
            
                    span{
                        text-align: left;
                    }
                }
            
                strong {
                    font-size: 1.4rem;
                }
            
                .toDoList {
                    box-sizing: border-box;
                    width: 90%;
                    height: 8rem;
                    padding: 0;
                }

                .removeBtn {
                    outline: none;
                    padding: 1%;
                    width: 1.8rem;
                    background: none;
                    border-radius: 50px;
                    border: 1px solid #bebebe;
                    color: #ee3d3d;
                
                    &:active {
                        color: white;
                        background: rgb(255, 67, 67);
                    }
                }          
            }

            .showing {
                font-size: 1.3rem;
                margin-top: 1rem;
            }
            
            .resetBtn {
                position: absolute;
                bottom: -2.5rem;
                // right: 0;
                background-color: rgba(0, 0, 0, 0.1);
                width: 7rem;
                padding: 3% 0;
                outline: none;
                border-radius: 10px;
                font-size: 1rem;
                font-weight: bold;
                color: #adadad;
    

                &:focus {
                    color: white;
                    background:rgba(0, 0, 0, 0.61);
                    cursor: pointer;
                    animation: buttonOn 0.3s forwards ease-in-out;
                }
            }
        }
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    animation: fadeIn 0.7s linear;
}

.showing {
    font-weight: 600;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 1.8rem;
    margin-top: 0.8em;
    margin-bottom: 0;
}

.fadein {
    animation: fadeIn3 1.5s forwards;
}

.On {
    height: 0;
    margin: 0;
    padding: 0;
    animation: line 1s 1s forwards;
    border-bottom: 1px solid white;
    margin: 0.5rem 0 1.3rem 0;
}

@keyframes line {
    0% {
        display: none;
        width: 0;
    }
    50% {
        display: block;
        width: 0;
    }
    100% {
        display: block;
        width: 10em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes buttonOn {
    0% {
        color: #808080;
    }
    100% {
        color: white;
    }
}

@keyframes removeOn {
    0% {
        border: 1px solid #bebebe;
        color: #ee3d3d;
    }
    100% {
        color: white;
        border: 1px solid #e7e3e3;
    }
}

@keyframes shadowFadeIn {
    0% {
        -webkit-box-shadow: -2px 2px 88px -65px rgba(250, 240, 135, 1);
        -moz-box-shadow: -2px 2px 88px -65px rgba(250, 240, 135, 1);
        box-shadow: -2px 2px 88px -65px rgba(250, 240, 135, 1);
    }
    50% {
        -webkit-box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
        -moz-box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
        box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
    }
    100% {
        -webkit-box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
        -moz-box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
        box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
    }
}
