html,body { 
    width: 100%;
    height: 100%;
}

body {
    color: #fcfcfc;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;

    -ms-overflow-style: none; 

    ::-webkit-scrollbar { display: none; }

}

.container {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    animation: fadeIn2 1.8s forwards;
    width: 35em;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}

.contentsWrapper {
    display: flex;
    // position: relative;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.3);
    height: auto;
    box-sizing: border-box;
    padding: 2em 2em;
    border-radius: 10px;
    width: 100%;
}

.js-weather {
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    position: relative;
    justify-content: space-around;
    height: auto;
    font-size: 1.3em;
    width: 75%;
    line-height: 1.7em;
    // border-top: 0.5px solid white;
    // border-right: 1px solid white;
    border-radius: 20px;
    padding: 0.7em;
    padding-top: 0.8em;

    .temp, .place{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .temp .fas {
        font-size: 1.5em;
    }

    .place i {
        color: #f5f0b2;
    }
}

.fas {
    margin-right: 0.3em;
    font-size: 1.2em;
}

.clock {
    margin-top : 0.3em;
    margin-bottom: 0.5em;
    padding: 0.3em 0.7em;
    border-radius: 20px;
    font-size: 2.2rem;
    color: #e7e3e3;
    text-align: center;
    width: 70%;
    animation: shadowFadeIn 4s linear 0.5s infinite alternate;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-weight: thin;

    & > h1 {
        margin: 0;
    }
}

@keyframes shadowFadeIn {
    0% {
        -webkit-box-shadow: -2px 2px 88px -65px rgba(250, 240, 135, 1);
        -moz-box-shadow: -2px 2px 88px -65px rgba(250, 240, 135, 1);
        box-shadow: -2px 2px 88px -65px rgba(250, 240, 135, 1);
    }
    50% {
        -webkit-box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
        -moz-box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
        box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
    }
    100% {
        -webkit-box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
        -moz-box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
        box-shadow: -2px 2px 42px -2px rgba(250, 240, 135, 1);
    }
}

.userForm {
    margin-top: 2em;
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -5;
    animation: fadeIn 0.7s linear;
}

.showing {
    font-weight: 700;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 1.9em;
    margin-top: 0.8em;
    margin-bottom: 0;
}

input {
    font-size: 1em;
    height: 1.8em;
    width: 15em;
    border-radius: 5px;
    outline: none;
    border: none;
    // margin-top: 0.3em;
}

form {
    display: flex;
    align-items: center;
    // justify-content: center;
    margin: 0;
    padding: 0;
    margin-top : 0.4em;
    width: auto;
}

.js-Greeting {
    display: none;
}

.fadein {
    animation: fadeIn3 1.5s forwards;
}

.On {
    height: 0;
    margin: 0;
    padding: 0;
    animation: line 1s 1s forwards;
    border-bottom: 1px solid white;
    margin: 0.5em 0 1.8em 0;
}

form > button {
    align-self: stretch;
    border-radius: 5px;
    outline: none;
    border: none;
    background: #525252d5
}

button {
    font-size: 1.25em;
    margin-left: 0.1em;
    background:rgba(0, 0, 0, 0.61);
    color: #e7e3e3;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;

    &:hover{
        cursor: pointer;
        background:#ff292969 ;
    }

    &:active{
        cursor: pointer;
        transform: scale(0.9);
    }
}

.resetBtn {
    background-color: rgba(0, 0, 0, 0.2);
    height: 2em;
    width: 7em;
    align-self: flex-end;
    outline: none;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #808080;

    &:hover {
        // color: white;
        
        background:rgba(0, 0, 0, 0.61);
        cursor: pointer;
        animation: buttonOn 0.1s 0.05s forwards ease-in-out;
    }
    
}


.toDoList-Wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
    width: 100%;

    ul {
        line-height: 1.8em;
        // list-style: inside;
    }
    
    li {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid white;
        margin: 0.2em auto;
        padding-top: 0.3em;
        width: 90%;
        letter-spacing: 0.02em;
        list-style-type: square;
        font-size: 1.1em;
        

        &:first-child {
            border: none;
        }

        span{
            text-align: left;
        }
    }

    strong {
        font-size: 1.7em;
    }
}

.toDoList {
    box-sizing: border-box;
    width: 80%;
    min-height: 8em;
    height: 9em;
    padding: 0.5em 0;
    padding-left: 0.5em;
    padding-right: 0.1em;

    // overflow-y: visible;
}

@keyframes line {
    0% {
        display: none;
        width: 0;
    }
    50% {
        display: block;
        width: 0;
    }
    100% {
        display: block;
        width: 10em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn2 {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn3 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes buttonOn {
    0%{
        color: #6d6d6d;
    }100%{
        color: white;

    }
}