body{
    color: #fcfcfc;
    padding : 10% auto;
    height: 98vh;
    overflow-y: hidden;
    width: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes fadeIn2 {
    0%{
        opacity: 0;
    }30%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}

.contentsWrapper{
    display : flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background : rgba(0, 0, 0, 0.4);
    height: auto;
    padding: 2em 5em;
    animation: fadeIn2 1.8s forwards;
}


.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -5;
    animation: fadeIn .7s linear;
}

.toDoInput{
    font-size: 1em;
    height: 1.5em;
    width: 12em;
}

.showing{
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size : 1.3em;
}

.ToDoList{
    box-sizing: border-box;
    border: 1px solid rgba(255, 243, 68, 0.548);
    width: 15em;
    min-height : 8em;
    height : auto;
    padding : 1em 1.2em;
}

ul{
    line-height: 1.8em;
    list-style: inside;
}

.clock > h1{
    margin: 0;
}

.js-weather{
    height: 25px; 
}

form{
    display: flex;
    justify-content: space-between;
}

.registBtn{
    font-size: 1em;
    margin-left : 0.1em;
}


@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}