html, body {
  width: 100%;
  height: 100%;
}

body {
  color: #fcfcfc;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  -ms-overflow-style: none;
}

body ::-webkit-scrollbar {
  display: none;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: fadeIn2 1.8s forwards;
          animation: fadeIn2 1.8s forwards;
  width: 27rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contentsWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.2);
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2em 2em;
  border-radius: 10px;
  width: 100%;
}

.js-weather {
  background: rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
  font-size: 1.2rem;
  width: 75%;
  line-height: 1.5rem;
  border-radius: 20px;
  padding: 0.7em;
  padding-top: 0.8em;
}

.js-weather .temp, .js-weather .place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.js-weather .temp .fas {
  font-size: 1.5em;
}

.js-weather .place i {
  color: #f5f0b2;
}

.fas {
  margin-right: 0.3em;
  font-size: 1.2em;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 20px;
  font-size: 3.2rem;
  color: #e7e3e3;
  text-align: center;
  width: 75%;
  -webkit-animation: shadowFadeIn 4s linear 0.5s infinite alternate;
          animation: shadowFadeIn 4s linear 0.5s infinite alternate;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: thin;
}

.clock > h3 {
  margin: 0 auto;
  padding: 0 auto;
}

@-webkit-keyframes shadowFadeIn {
  0% {
    -webkit-box-shadow: -2px 2px 88px -65px #faf087;
    box-shadow: -2px 2px 88px -65px #faf087;
  }
  50% {
    -webkit-box-shadow: -2px 2px 42px -2px #faf087;
    box-shadow: -2px 2px 42px -2px #faf087;
  }
  100% {
    -webkit-box-shadow: -2px 2px 42px -2px #faf087;
    box-shadow: -2px 2px 42px -2px #faf087;
  }
}

@keyframes shadowFadeIn {
  0% {
    -webkit-box-shadow: -2px 2px 88px -65px #faf087;
    box-shadow: -2px 2px 88px -65px #faf087;
  }
  50% {
    -webkit-box-shadow: -2px 2px 42px -2px #faf087;
    box-shadow: -2px 2px 42px -2px #faf087;
  }
  100% {
    -webkit-box-shadow: -2px 2px 42px -2px #faf087;
    box-shadow: -2px 2px 42px -2px #faf087;
  }
}

.userForm {
  margin-top: 2em;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  -webkit-animation: fadeIn 0.7s linear;
          animation: fadeIn 0.7s linear;
}

.showing {
  font-weight: 600;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 1.8rem;
  margin-top: 0.8em;
  margin-bottom: 0;
}

.userInput, .toDoInput {
  font-size: 1em;
  height: 1.8em;
  width: 15em;
  border-radius: 5px;
  outline: none;
  color: #ffe59ed5;
  border: 1px solid #e7e3e38c;
  background: none;
  padding: 0 0.5rem;
}

.userInput::-webkit-input-placeholder, .toDoInput::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.678);
}

.userInput:-ms-input-placeholder, .toDoInput:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.678);
}

.userInput::-ms-input-placeholder, .toDoInput::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.678);
}

.userInput::placeholder, .toDoInput::placeholder {
  color: rgba(255, 255, 255, 0.678);
}

.userInput:hover, .toDoInput:hover {
  border: 1px solid #e7e3e3;
}

.userInput:focus, .toDoInput:focus {
  background: #1f1f1fcb;
}

.userBtn, .toDoBtn {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  border-radius: 5px;
  outline: none;
  border: 1px solid #e7e3e38c;
  color: #808080;
  background: none;
}

.userBtn:hover, .toDoBtn:hover {
  cursor: pointer;
  -webkit-animation: buttonOn 0.5s forwards ease-in-out;
          animation: buttonOn 0.5s forwards ease-in-out;
  border: 1px solid #e7e3e3;
}

.userBtn:active, .toDoBtn:active {
  background: rgba(23, 184, 31, 0.822);
}

.removeBtn {
  outline: none;
  padding: 1px 8px;
  border-radius: 50px;
  border: 1px solid #808080;
  color: #808080;
}

.removeBtn:hover {
  cursor: pointer;
  -webkit-animation: removeOn 0.5s forwards ease-in-out;
          animation: removeOn 0.5s forwards ease-in-out;
}

.removeBtn:active {
  color: white;
  background: #ff4343;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 0.4em;
  width: auto;
}

.js-Greeting {
  display: none;
}

.fadein {
  -webkit-animation: fadeIn3 1.5s forwards;
          animation: fadeIn3 1.5s forwards;
}

.On {
  height: 0;
  margin: 0;
  padding: 0;
  -webkit-animation: line 1s 1s forwards;
          animation: line 1s 1s forwards;
  border-bottom: 1px solid white;
  margin: 0.5rem 0 1.3rem 0;
}

button {
  font-size: 1.25em;
  margin-left: 0.1em;
  background: none;
  color: #e7e3e3;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

button:active {
  cursor: pointer;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.resetBtn {
  background-color: rgba(0, 0, 0, 0.2);
  height: 2em;
  width: 7em;
  -ms-flex-item-align: end;
      align-self: flex-end;
  outline: none;
  border-radius: 10px;
  font-size: 1.3em;
  font-weight: bold;
  color: #808080;
}

.resetBtn:hover {
  cursor: pointer;
  -webkit-animation: buttonOn 0.3s forwards ease-in-out;
          animation: buttonOn 0.3s forwards ease-in-out;
}

.toDoList-Wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1.5em;
  width: 100%;
}

.toDoList-Wrapper ul {
  line-height: 1.8em;
}

.toDoList-Wrapper li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid white;
  margin: 0.2em auto;
  padding-top: 0.3em;
  width: 90%;
  letter-spacing: 0.02em;
  list-style-type: square;
  font-size: 1.1em;
}

.toDoList-Wrapper li:first-child {
  border: none;
}

.toDoList-Wrapper li span {
  text-align: left;
}

.toDoList-Wrapper strong {
  font-size: 1.4rem;
}

.toDoList {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 80%;
  min-height: 8em;
  height: 9em;
  padding: 0.5em 0;
  padding-left: 0.5em;
  padding-right: 0.1em;
}

@-webkit-keyframes line {
  0% {
    display: none;
    width: 0;
  }
  50% {
    display: block;
    width: 0;
  }
  100% {
    display: block;
    width: 10em;
  }
}

@keyframes line {
  0% {
    display: none;
    width: 0;
  }
  50% {
    display: block;
    width: 0;
  }
  100% {
    display: block;
    width: 10em;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes buttonOn {
  0% {
    color: #808080;
  }
  100% {
    color: white;
  }
}

@keyframes buttonOn {
  0% {
    color: #808080;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes removeOn {
  0% {
    color: #808080;
    border: 1px solid #808080;
  }
  100% {
    color: white;
    border: 1px solid #e7e3e3;
  }
}

@keyframes removeOn {
  0% {
    color: #808080;
    border: 1px solid #808080;
  }
  100% {
    color: white;
    border: 1px solid #e7e3e3;
  }
}
/*# sourceMappingURL=index.css.map */